.find-item{ 
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 60px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 450px;
    max-height: 320px;
    transition: all 0.1s;
    margin-top: 20px;
}
.find-item-applied{ 
    box-shadow: 0 4px 8px 0 rgba(255, 187, 109, 0.546), 0 6px 20px 0 rgba(255, 187, 109, 0.546);
    background-color: rgb(255, 251, 254);
}
.find-item:hover{ 
    box-shadow: 0 4px 8px 0 rgba(255, 109, 228, 0.546), 0 6px 20px 0 rgba(255, 109, 228, 0.2);
    background-color: rgb(255, 251, 254);
}



.find-item_image{
    width: auto;
    height: 320px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    overflow: hidden;
}
.find-item_image img{
    object-fit: cover;
    width: auto;
    position: inherit;
}
.find-item_content{
    width: 450px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.find-item_content h2{ 
    margin: 10px 20px 5px 4px; 
    font-size: 20px;
}
.find-item_content h5{
    margin: 0px 20px 0px 0px; 
    color: rgb(166, 166, 166);
    font-size: 11px;
}

.find-item_content-list li{
    text-align: justify;
    font-size: 11px;
    padding-right: 12px;
}
.find-item_content-list {
    margin: auto;
    padding: auto;
}
.find-item_content-list ul {
    padding: auto;
    list-style: disc;
}
.find-item_content-footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 40px;
}
.find-item_content-footer .stars-container { 
    padding-left: 10px;
    padding-bottom: 5px;
    max-width: 100px;
}

.find-item_content-footer .stars-container p{
    font-size: 10px;
    
    padding-left: 5px;
}
.read-more {
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-bottom: 8px;
}
.find-item_content-footer_apply button{
    font-size: 15px;
    padding: auto;
    height: 20px;
    margin-top: 8px;
    transition: all 0.1s;

}
.find-item_content-footer_apply button:hover{
    background-color: rgb(230, 156, 60);
}
.find-item_content-footer_apply button p{
    margin-top: -10px;
}
.find-item_content-footer_apply .redbutton { 
    background-color: rgb(230, 60, 60);   
}
.find-item_content-footer_apply  .redbutton:hover{
    background-color: rgb(230, 60, 60);   
}