.tab-element {
  width: inherit;
  min-width: 30vh;
  max-width: 30vh;
  margin-bottom: 2rem;

  text-align: center;
  border-radius: 60px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 5vh;
  max-height: 10vh;
  text-align: center;
  font-size: large;
}
.tab-content {
  width: inherit;
  min-width: 16vw;
  margin: 20px;
  justify-content: space-evenly;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  text-align: justify;
}
