.tab-element {
  width: inherit;
  min-width: 40vh;
  max-width: 50vh;
  margin-bottom: 2rem;

  text-align: center;
  border-radius: 60px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 5vh;
  text-align: center;
  padding: auto;
  font-size: 0.8rem;
}

.tab-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tab-content-text a {
  color: blueviolet;
}

.tab-content {
  width: inherit;
  min-width: 16vw;
  margin: 20px;
  justify-content: space-evenly;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  text-align: justify;
}

.icon {
  margin-top: 8px;
  vertical-align: bottom;
}

.icon a {
  text-decoration: none;
  color: rgb(64, 10, 75);

}